<ion-view title="My Schedule">
    <ion-content padding="true" class="has-header">
        <div>
            <p>Here are the sessions you marked that you want to attend to:</p>
        </div>
        <ion-list>
            <ion-item class="item-divider">08:00 am</ion-item>
            <ion-item>Item 1</ion-item>
            <ion-item class="item-divider">11:30 am</ion-item>
            <ion-item>Item 2</ion-item>
            <ion-item class="item-divider">12:00 am</ion-item>
            <ion-item>Item 3</ion-item>
        </ion-list>
    </ion-content>
</ion-view>