<ion-view title="{{'Conexões' | translate}}" class="headerClass">
    <ion-content padding="true" class="has-header content">
        <div>
            <p translate>Here you have the contacts of every person you met and Scaned QR-Code.</p>
        </div>
        <div class="row">
        <div class="col-50">
             <button class="button button-block  button-assertive"  ng-click="scanIt()" translate> <span class="x4 icon ion-plus"></span> <br> <small>Nova Conexão</small></button>    
        </div>
        <div class="col-50">
            <a class="button button-block button-calm"  ui-sref="app.addPerson" translate> 
            <span class="icon ion-email"></span><br>
            <small>Add por E-mail</small></a>
        </div>
        </div>
        <div class="row">
            
        </div>
        <div class="sessions-list">
      <div class="session wpsessions" ng-repeat="person in people">
        <a  class="item item-divider session-title" >
        <div class="session-info peoplemet" ng-ĩf="person.image">
        <img src="{{person.image}}" alt="" class="avatarGravatar">
        </div>
         <span ng-bind-html="person.displayName" class="session-title"></span>
         <span class="session-title  email">{{person.email}}&nbsp;&nbsp;</span>
         <span class="session-speaker session-note">{{person.location}}</span>
        </a>
        
      </div>
    </div>
    
    </ion-content>
</ion-view>