<ion-view title="{{Sessions | translate}}">
  <ion-header-bar align-title="left" class="transparentBg mainHeader">
  <div class="buttons">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
  </div>
  
</ion-header-bar>
  <ion-content padding="true" class="has-header content">
    <p>{{error}}</p>
    <div class="sessions-list">
      <div class="session wpsessions" ng-repeat="session in sessions | orderObjectBy: 'sessionTimestamp' ">
        <a ui-sref="app.singlesession({sessionID: session.ID})" class="item item-divider session-title" ng-if="session.speaker.title">
        <div class="session-info">
         <span class="session-note">
          <i class="icon ion-clock"></i>
          {{session.sessionTimestamp *1000  | date:'HH:mma' : 'UTC' }}
         </span>
         <span class="session-note">
          {{session.terms.wcb_track[0].name}}
        </span> 
        </div>
         <span ng-bind-html="session.title" class="session-title"></span>
         <span class="session-speaker session-note">{{session.speaker.title}}</span>
        </a>
        <div class="session-break item item-title tac" ng-if="!session.speaker.title">
          <span class="hour">{{session.sessionTimestamp *1000  | date:'HH:mma' : 'UTC' }}</span>
          <span class="title">{{session.title}}</span>
        </div>
        
      </div>
    </div>
    
  </ion-content>
</ion-view>