<ion-view title="{{'Code is Poetry' | translate}}">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="content noHeader" style="background-image:url('{{imgs.headerBackground}}');">
  <div class="main-header" >
    <img ng-src="{{imgs.logo}}" class="main-logo" ig="imgs.logo">
  </div>
    <div>
      <div class="wellcome-msg">
        <p ng-if="checaOwner()"><translate>You are most wellcome</translate>,  <strong>{{appOwner.displayName}}</strong>.</p>
        <p translate>This App is intended to be used as a Guide, Souvenir and way to make contacts and new friends.</p>
      </div>
      <p class="tac">
          <a ui-sref="app.sessions" class="button button-block wpbtn">
            <i class="icon ion-clock left"></i> Programação &nbsp;&nbsp;<i class="icon ion-chevron-right"></i>
          </a>       
          <a ui-sref="app.peoplemet" class="button button-block wpbtn">
            <i class="icon ion-clock ion-person-stalker left"></i>  Pessoas que conhecí &nbsp;&nbsp;<i class="icon ion-chevron-right"></i>
          </a>
          <a ui-sref="app.guides" class="button button-block wpbtn">
            <i class="icon ion-map left"></i>  Guias &nbsp;&nbsp;<i class="icon ion-chevron-right"></i>
          </a>
          <a ui-sref="app.blog" class="button button-block wpbtn">
            <i class="icon ion-ios-paper left"></i> Blog &nbsp;&nbsp;<i class="icon ion-chevron-right"></i>
          </a>
      </p>
      <div class="list card tal sponsors">
      <div class="item title" translate>Sponsors:</div>
        <div class="item item-body">
          <p>{{error}}</p>
            <span ng-repeat="sponsor in sponsors">
                <img ng-src="{{sponsor}}" alt="">
            </span>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>