@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../lib/fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../lib/fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("../lib/fonts/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../lib/fonts/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../lib/fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../lib/fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../lib/fonts/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../lib/fonts/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../lib/fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../lib/fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("../lib/fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../lib/fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../lib/fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../lib/fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("../lib/fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../lib/fonts/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../lib/fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../lib/fonts/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../lib/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("../lib/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../lib/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../lib/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../lib/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../lib/fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.wp-smiley {
  height: 1.1em;
  width: auto;
}
.transparentBg,
.transparent,
.transparent .item {
  background: transparent;
  color: #fff;
}
body,
p {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
.button {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.trackSelector {
  min-height: 90px;
}
.box {
  display: block;
}
.slider-pager-page .icon {
  font-size: 0.8em;
}
.slider-pager-page.active .icon {
  font-size: 1em;
  opacity: 0.9;
}
.transparent {
  background: transparent;
}
.main-header {
  padding: 1.5em 0;
  background-size: cover;
  background-position: 100% 20%;
  background-repeat: no-repeat;
  margin: -1em -1em 1em -1em;
}
.main-header .main-logo {
  max-width: 50%;
  margin: 0 auto;
  display: block;
}
.sessions-list {
  overflow: hidden;
}
.sessions-list .session {
  width: 100%;
  margin: 0.5em 0;
}
.sessions-list .session-title,
.sessions-list .session-info {
  font-size: 1.1em;
  line-height: 1.2;
  white-space: normal;
}
.sessions-list .session-title.email,
.sessions-list .session-info.email {
  color: #555;
}
.sessions-list .session-note {
  font-size: 0.8em;
  line-height: 0.9;
  margin-bottom: 0.5em;
  color: rgba(28,3,3,0.8);
}
.sessions-list .session-content:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(236,76,76,0.8);
  opacity: 0.5;
  z-index: 999;
}
.blog-list .item {
  white-space: normal;
}
.wpbtn {
  letter-spacing: 0;
  background: #da3f0c;
  color: #fff;
  padding: 0.6em 0.8em;
  text-align: right;
  overflow: hidden;
  font-weight: 400;
  border: none;
  box-shadow: inset 2px 0px 3px #f9ae95, 3px 3px 4px rgba(0,0,0,0.5);
}
.wpbtn:hover {
  color: #fff;
}
.wpbtn i.icon.left:before {
  font-size: 600%;
  float: left;
  text-align: left;
  margin-left: -30px;
  margin-top: 15px;
  margin-bottom: -40px;
}
.sponsors {
  background: transparent !important;
}
.sponsors .title.item {
  background: transparent !important;
  color: #fff;
  font-weight: 500;
  line-height: 2;
  padding: 0;
  border-bottom: 3px solid #da3f0c;
}
.sponsors .title.item:before {
  content: "";
  width: 50%;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: #da3f0c;
  height: 3px;
}
.sponsors .item-body {
  text-align: center;
}
.sponsors .item-body img {
  max-width: 45%;
  display: inline-block;
  margin-right: 0.5em;
  margin-top: 2.5%;
}
.wellcome-msg {
  line-height: 1.2;
  letter-spacing: 0.0245em;
}
.wellcome-msg p {
  font-size: 0.85em;
  text-shadow: 1px 1px 4px #222;
}
.has-header.content {
  background: #282828;
  background-repeat: no-repeat;
}
.wpsessions .item {
  text-align: right;
  border: none;
  border-radius: 4px;
  background: #fff;
  color: #da3f0c;
  font-weight: bolder;
  padding: 0;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}
.wpsessions .item .session-info {
  background: #da3f0c;
  width: 30%;
  height: 100%;
  float: left;
  font-weight: 300;
  text-align: center;
  height: 5em;
  padding: 1em 0.4em;
  position: relative;
}
.wpsessions .item .session-info:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #da3f0c;
  position: absolute;
  right: -8px;
  top: 40%;
}
.wpsessions .item .session-info span {
  color: #fff;
  text-align: center;
  font-size: 0.6em;
  width: 100%;
  clear: both;
  display: block;
}
.wpsessions .item .session-info i:before {
  color: #fff;
  width: 100%;
  clear: both;
  font-size: 400%;
  line-height: 1;
  margin-top: -5px;
}
.wpsessions .item .session-title {
  padding-right: 1em;
  padding-top: 0.5em;
  padding-left: 0.8em;
  display: inline-block;
  width: 70%;
  font-weight: 600;
  text-align: left;
  font-size: 0.9em;
}
.wpsessions .item .session-speaker {
  font-weight: 400;
  position: absolute;
  bottom: 0.2em;
  left: 30%;
  padding-left: 1em;
}
.wpsessions .session-break {
  background: #da3f0c;
  color: #fff;
  font-size: 0.9em;
  font-weight: 400;
  width: 100%;
  margin: 0.5em auto;
  padding: 0.1em 0;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}
.wpsessions .session-break .hour {
  display: block;
  text-align: left;
  max-width: 50%;
  float: left;
  padding-left: 1em;
  line-height: 2;
}
.wpsessions .session-break .title {
  display: block;
  text-align: right;
  padding-right: 1em;
  max-width: 50%;
  float: right;
  line-height: 2;
}
.wpsessions .session-info.peoplemet {
  padding: 0;
}
.wpsessions .session-info.peoplemet img {
  min-width: 100%;
  min-height: 100%;
}
.wpsessions .session-info.peoplemet:after {
  border-left: 8px solid #282828;
}
.mainHeader {
  background: transparent !important;
  border: none;
}
.mainHeader a,
.mainHeader button {
  color: #fff important;
}
.has-header {
  top: 0px;
  padding-top: 45px;
}
.content .title {
  color: #fff;
}
.white {
  color: #fff;
}
.blog-list .blog.item {
  border: none;
  color: #fff;
}
.blog-list .blog.item .item-content {
  background-color: #282828;
  border: none;
}
.blog-list .blog.item .item-content h2 {
  color: #fff;
}
.postInfo {
  color: #222;
}
.originalPost {
  font-size: 0.8em;
}
